
#fx_loader_icon[data-v-c1ff042d]                      {background-color: transparent; opacity: 1;}
.fx_loader_icon_size[data-v-c1ff042d]                {width: 60px; height: 60px;}
.fx_loader_icon_sizeSVG[data-v-c1ff042d]              {width: 60px; height: 60px;}

/*.fx_loader_icon_st0{fill:url(#outer_x5F_circle_00000177473250447705566950000002218083927418701708_);}*/
/*.fx_loader_icon_st1{fill:none;stroke:url(#checkmark_00000004541496904257569200000018162928355026536354_);stroke-width:2;stroke-linecap:round;stroke-linejoin:round;}*/

