
#fx_error_icon[data-v-b86c1082]			              {background-color: transparent; opacity: 1;}
.fx_error_icon_size[data-v-b86c1082]		            {width: 60px; height: 60px;}
.fx_error_icon_sizeSVG[data-v-b86c1082]			      {width: 60px; height: 60px;}
.fx_loader_icon_st0[data-v-b86c1082]{fill-rule:evenodd;clip-rule:evenodd;fill:url(#fx_loader_icon_SVGID_1_);}
.fx_loader_icon_st1[data-v-b86c1082]{fill-rule:evenodd;clip-rule:evenodd; opacity: 0; fill: #FFFFFF}


/*
#fx_wallet_created_ani_wrap          {background-color: transparent; opacity: 0; }
.fx_announcement_ani_size              {width: 512px; height: 512px;}
.fx_announcement_ani_sizeSVG          {width: 512px; height: 512px;}
*/

/*DARK MODE COLORS */
.fx_wallet_created_st0[data-v-67eff650]{fill:#262626;}
.fx_wallet_created_bg_large[data-v-67eff650]{fill:#171717;stroke:#171717;stroke-width:4;}
.fx_wallet_created_st1[data-v-67eff650]{fill:url(#fx_wallet_created_SVGID_1_);fill-opacity:0.6;}
.fx_wallet_created_st4[data-v-67eff650]{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-opacity:0.4;}
.fx_wallet_created_st6[data-v-67eff650]{fill:#272727;}
.fx_wallet_created_st7[data-v-67eff650]{fill:none;stroke:#000000;stroke-opacity:0.06;}
.fx_wallet_created_st8[data-v-67eff650]{fill:#404040;}
.fx_wallet_created_st11[data-v-67eff650]{opacity:0.03;fill:none;stroke:#000000;enable-background:new    ;}
.fx_wallet_created_st12[data-v-67eff650]{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
.fx_wallet_created_st13[data-v-67eff650]{fill-rule:evenodd;clip-rule:evenodd;fill:#9FB8ED;}
.fx_wallet_created_st15[data-v-67eff650]{fill:#9FB8ED;}
.fx_wallet_created_st18[data-v-67eff650]{fill-rule:evenodd;clip-rule:evenodd;fill:#242424;}
.fx_wallet_created_st19[data-v-67eff650]{fill-rule:evenodd;clip-rule:evenodd;fill:#D9D9D9;}
.fx_wallet_created_st24[data-v-67eff650]{fill-rule:evenodd;clip-rule:evenodd;fill:#0F0C17;}
.fx_wallet_created_st25[data-v-67eff650]{fill:#FFFFFF;}
.fx_wallet_created_lines_color_glow[data-v-67eff650]{fill:none;stroke:#FFFFFF;stroke-width:1;}
.fx_wallet_created_white[data-v-67eff650]{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:1;}

/*#fx_wallet_created_background{*/
/*  -webkit-box-shadow: -1px 9px 15px -3px #000000;*/
/*    box-shadow: -1px 9px 15px -3px #000000;*/
/*}*/
#fx_wallet_created_background[data-v-67eff650]{
  filter: drop-shadow(0px 36px 36px rgb(0 0 0 / 0.25));
}



/* Optional: Remove animation entirely */
.p-accordion .p-accordioncontent[data-v-9c1f0eb4] {
  /*transition: none !important;*/
  transition-duration: 0.2s !important;
}
/*! tailwindcss v4.1.4 | MIT License | https://tailwindcss.com */
.btn[data-v-8797a19c] {
  border-radius: var(--radius-md, .375rem);
  padding: calc(var(--spacing, .25rem) * 3);
}


/* Optional: Remove animation entirely */
.p-accordion .p-accordioncontent[data-v-d6850084] {
  /*transition: none !important;*/
  transition-duration: 0.2s !important;
}
