
.st0[data-v-4b6b2289]{fill:#CCD2E5;}
.st1[data-v-4b6b2289]{fill:#2D375F;}
.st2[data-v-4b6b2289]{fill:#FDFDFD;}
.st3[data-v-4b6b2289]{fill:#CCD1E3;}
.st4[data-v-4b6b2289]{fill:#374169;}
.st5[data-v-4b6b2289]{fill:#364068;}
.st6[data-v-4b6b2289]{fill:#57618B;}
.st7[data-v-4b6b2289]{fill:#7F88B1;}
.st8[data-v-4b6b2289]{fill:#525C85;}
.st9[data-v-4b6b2289]{fill:#727DAD;}
.st10[data-v-4b6b2289]{fill:#F29560;}
.st11[data-v-4b6b2289]{fill:#F0F2F5;}
.st12[data-v-4b6b2289]{fill:#FFFFFF;}
.st13[data-v-4b6b2289]{fill:#343C64;}
.st14[data-v-4b6b2289]{fill:#384065;}
.st15[data-v-4b6b2289]{fill:#FAFAFC;}
.st16[data-v-4b6b2289]{fill:#FED464;stroke:#374169;stroke-width:8;stroke-miterlimit:10;}
.st17[data-v-4b6b2289]{fill:#4A8BC7;stroke:#374169;stroke-width:8;stroke-miterlimit:10;}
.st18[data-v-4b6b2289]{display:none;}
.st19[data-v-4b6b2289]{display:inline;}
.st20[data-v-4b6b2289]{clip-path:url(#SVGID_00000043435414809923157990000006722706269369467268_);}
.st21[data-v-4b6b2289]{font-family:'AmaticSC-Bold';}
.ear[data-v-4b6b2289]{mix-blend-mode: color-burn}

