
#fx_dapp_browser_wrap[data-v-58936bcc]          {background-color: transparent; opacity: 1;}
/*.fx_dapp_browser_size              {width: 1300px; height: 200px;}
.fx_dapp_browser_sizeSVG          {width: 512px; height: 512px;}*/
.fx_dapp_browser_st0[data-v-58936bcc]{fill:#171717;}
.fx_dapp_browser_bg_large[data-v-58936bcc]{fill:#171717;stroke:#171717;stroke-width:4;}
.fx_dapp_browser_st1[data-v-58936bcc]{opacity:0.2;fill:#222222;enable-background:new    ;}
.fx_dapp_browser_st2[data-v-58936bcc]{fill:url(#fx_dapp_browser_SVGID_1_);fill-opacity:0.1;}
.fx_dapp_browser_st3[data-v-58936bcc]{fill:#242424;}
.fx_dapp_browser_st16[data-v-58936bcc]{fill:#1A1A1A;}
.fx_dapp_browser_st17[data-v-58936bcc]{fill:#252525;}
.fx_dapp_browser_st18[data-v-58936bcc]{fill:#303030;}
.fx_dapp_browser_st19[data-v-58936bcc]{fill:none;stroke:#303030;stroke-linecap:round;}
.fx_dapp_browser_st20[data-v-58936bcc]{fill:none;stroke:#303030;}
.fx_dapp_browser_st21[data-v-58936bcc]{fill:#222222;}
.fx_dapp_browser_st23[data-v-58936bcc]{fill:#FDFDFD;}
.fx_dapp_browser_st29[data-v-58936bcc]{fill:#FFFFFF;}
.fx_dapp_browser_st29[data-v-58936bcc]{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
.fx_dapp_browser_st30[data-v-58936bcc]{fill:#262626;}
.fx_dapp_browser_st31[data-v-58936bcc]{fill:#4E4E4E;}
.fx_dapp_browser_st34[data-v-58936bcc]{fill-rule:evenodd;clip-rule:evenodd;fill:#9FB8ED;}
.fx_dapp_browser_st38[data-v-58936bcc]{fill:#9FB8ED;}
.fx_dapp_browser_st41[data-v-58936bcc]{fill-rule:evenodd;clip-rule:evenodd;fill:#0F0C17;}
.fx_dapp_browser_st42[data-v-58936bcc]{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;filter:url(#fx_dapp_browser_Adobe_OpacityMaskFilter);}
.fx_dapp_browser_st46[data-v-58936bcc]{fill-rule:evenodd;clip-rule:evenodd;fill:#D9D9D9;}
.fx_dapp_browser_white_lines_glow[data-v-58936bcc]{fill:none;stroke:#FFFFFF;stroke-width:1;}
.fx_dapp_browser_white_lines[data-v-58936bcc]{fill:none;stroke:#3D3D3D;stroke-linecap:round;}
/*.white{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:1;}*/

