


/*
#fx_help_wrap          {background-color: transparent; opacity: 0; }
.fx_help_size              {width: 512px; height: 512px;}
.fx_help_sizeSVG          {width: 512px; height: 512px;}
*/
/*DARK MODE COLORS */
.fx_help_st0[data-v-0c6770d8]{fill:#171717;stroke:#171717;stroke-width:2;}
.fx_help_st0x[data-v-0c6770d8]{fill:#171717;}
.fx_help_st1[data-v-0c6770d8]{fill:url(#fx_help_SVGID_1_);fill-opacity:0.4;}
.fx_help_st2[data-v-0c6770d8]{fill:none;stroke:#FFFFFF;stroke-opacity:0.1;stroke-dasharray:1.4,1.4;}
.fx_help_st5[data-v-0c6770d8]{fill:#282828;}
.fx_help_st14[data-v-0c6770d8]{fill-opacity:0.3;}
.fx_help_st26[data-v-0c6770d8]{fill:none;stroke:#000000;stroke-width:0.2916;stroke-opacity:2.000000e-02;}
.fx_help_st28[data-v-0c6770d8]{fill:#D9D9D9;}
.fx_help_st33[data-v-0c6770d8]{fill:#242424;}
.fx_help_st34[data-v-0c6770d8]{fill:#FFFFFF;}
.fx_help_st35[data-v-0c6770d8]{fill-rule:evenodd;clip-rule:evenodd;fill:#242424;}
.fx_help_st37[data-v-0c6770d8]{fill:none;stroke:#303030;stroke-width:2;stroke-linejoin:round;}
.fx_help_st38[data-v-0c6770d8]{fill:#3A3A3A;}
.fx_help_st39[data-v-0c6770d8]{fill-rule:evenodd;clip-rule:evenodd;fill:#303030;}
.fx_help_st40[data-v-0c6770d8]{fill:#9FB8ED;}
.fx_help_st43[data-v-0c6770d8]{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}

/*#fx_announcement_background{*/
/*  -webkit-box-shadow: -1px 9px 15px -3px #000000;*/
/*    box-shadow: -1px 9px 15px -3px #000000;*/
/*}*/
#fx_help_background[data-v-0c6770d8]{
  filter: drop-shadow(10px 60px 30px rgb(0 0 0 / 0.4));
}


