
#fx_nft_wrap[data-v-6efb038e]             { background-color: transparent; opacity: 0;
}
/*.fx_nft_sizeSVG          {width: 390px; height: 175px;}

/*DARK MODE COLORS */

/*#fx_announcement_background{*/
/*  -webkit-box-shadow: -1px 9px 15px -3px #000000;*/
/*    box-shadow: -1px 9px 15px -3px #000000;*/
/*}*/
#fx_announcement_background[data-v-6efb038e]{
  filter: drop-shadow(0px 36px 36px rgb(0 0 0 / 0.25));
}
.fx_nft_st0[data-v-6efb038e]{fill:#141414;}
.fx_nft_st1[data-v-6efb038e]{fill:url(#SVGID_1_);fill-opacity:0.1;}
.fx_nft_st2[data-v-6efb038e]{fill:#242424;}
.fx_nft_st3[data-v-6efb038e]{fill:none;stroke:#3D3D3D;stroke-linecap:round;}
.fx_nft_st4[data-v-6efb038e]{fill-rule:evenodd;clip-rule:evenodd;fill:#191919;}
.fx_nft_st7[data-v-6efb038e]{fill:#252525;}
.fx_nft_st8[data-v-6efb038e]{opacity:0.1;fill:#EBEBEB;}
.fx_nft_st11[data-v-6efb038e]{fill:#3F3F3F;}
.fx_nft_st12[data-v-6efb038e]{fill:#191919;}
.fx_nft_st13[data-v-6efb038e]{fill:#FFFFFF;}
.fx_nft_st14[data-v-6efb038e]{fill:#303030;}
.fx_nft_st15[data-v-6efb038e]{fill:none;stroke:#303030;stroke-linecap:round;}
.fx_nft_st16[data-v-6efb038e]{fill:none;stroke:#303030;}
.fx_nft_st18[data-v-6efb038e]{fill:#2E2E2E;}
.fx_nft_st19[data-v-6efb038e]{fill:#1A1A1A;}
.fx_nft_st20[data-v-6efb038e]{fill:#222222;}
.fx_nft_st21[data-v-6efb038e]{fill:#262626;}
.fx_nft_st22[data-v-6efb038e]{fill:#CFD2E5;}
.fx_nft_st23[data-v-6efb038e]{fill:#373737;}
.fx_nft_st24[data-v-6efb038e]{fill-rule:evenodd;clip-rule:evenodd;fill:#141414;}
.fx_nft_st34[data-v-6efb038e]{fill:#9FB8ED;}
.fx_nft_st37[data-v-6efb038e]{fill:#171717;}
.fx_nft_st38[data-v-6efb038e]{fill:#FCFEFB;}
.fx_nft_st42[data-v-6efb038e]{fill:#171717;stroke:#000000;}
.fx_nft_st43[data-v-6efb038e]{fill:#011C63;}
.fx_nft_st52[data-v-6efb038e]{fill:#FFC6A0;}
.fx_nft_white_lines_glow[data-v-6efb038e]{fill:none;stroke:#FFFFFF;stroke-width:1;}
.fx_nft_white_lines[data-v-6efb038e]{fill:none;stroke:#3D3D3D;stroke-linecap:round;}

