
.fx_staking_header_st0[data-v-aa05b404]{fill:#1A1A1A;}
.fx_staking_header_st1[data-v-aa05b404]{fill:#252525;}
.fx_staking_header_st2[data-v-aa05b404]{fill:#141414;}
.fx_staking_header_st3[data-v-aa05b404]{fill:#E1E1E1;}
.fx_staking_header_st4[data-v-aa05b404]{fill:none;stroke:#303030;stroke-width:0.1228;stroke-linecap:round;stroke-miterlimit:10;}
.fx_staking_header_st5[data-v-aa05b404]{fill:none;stroke:#303030;stroke-width:0.1228;stroke-miterlimit:10;}
.fx_staking_header_st6[data-v-aa05b404]{fill:#222222;}
.fx_staking_header_st7[data-v-aa05b404]{fill:#FFFFFF;}
.fx_staking_header_st9[data-v-aa05b404]{fill:url(#SVGID_1_);fill-opacity:0.2;}
.fx_staking_header_st10[data-v-aa05b404]{fill-opacity:0.2;}
.fx_staking_header_st13[data-v-aa05b404]{fill:#FFFFFF;}
.fx_staking_header_st14[data-v-aa05b404]{display:none;fill:#141414;}
.fx_staking_header_st15[data-v-aa05b404]{fill:#353535;}
.fx_staking_header_line[data-v-aa05b404]{fill:#222222;stroke:#222222;stroke-width: 10; stroke-linecap:round;}
