
#fx_landingPage_mobile[data-v-4f354d51]                      {background-color: transparent; opacity: 0; background-color: transparent
}
.fx_no_wallet_yet_st0[data-v-4f354d51]         { fill:#171717
}
.fx_no_wallet_yet_bg_large[data-v-4f354d51]    { fill:#171717; stroke:#171717; stroke-width:4;
}
.fx_no_wallet_yet_st1[data-v-4f354d51]         { fill:url(#fx_no_wallet_yet_SVGID_1_); fill-opacity:0.2;
}
.fx_no_wallet_yet_st2[data-v-4f354d51]         { fill:#FFFFFF;}
.fx_no_wallet_yet_st4[data-v-4f354d51]         { fill:none; stroke:#FFFFFF; stroke-opacity:0.1; stroke-dasharray:2,2;
}
.fx_no_wallet_yet_st9[data-v-4f354d51]         { fill:#9FB8ED
}
.fx_no_wallet_yet_st12[data-v-4f354d51]        { fill:#FCFEFB
}
.fx_no_wallet_yet_st16[data-v-4f354d51]        { fill:#171717; stroke:#000000
}
.fx_no_wallet_yet_st17[data-v-4f354d51]        { fill:#011C63
}
.fx_no_wallet_yet_st26[data-v-4f354d51]        { fill:#FFC6A0
}
.fx_no_wallet_yet_st30[data-v-4f354d51]        { fill:#535353
}
#fx_no_wallet_yet_background[data-v-4f354d51]{
  filter: drop-shadow(0px 36px 36px rgb(0 0 0 / 0.25));
}

